.landing-page {
  font-family: Arial, sans-serif;
  background-color: #d2b48c;
  padding: 20px;
  text-align: center;
}

.navbar {
  background-color: #d2b48c;
  padding: 10px 0;
  margin-bottom: 20px;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
}

.navbar ul li {
  display: inline;
  margin: 0 15px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.header {
  background-color: #d2b48c;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.header h1 {
  font-size: 36px;
  margin: 10px 0;
}

.header p {
  font-size: 18px;
  margin: 10px 0;
}

.sign-up-button {
  background-color: #cdcfcd49;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.kaaba {
  background-color: #cdcfcd00;
  display: flex;
  color: white;
  width: 70;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 2px;
  padding: 2px;
  border-radius: 10px;
  text-align: center;
  max-width:500px;
  margin: 1px;
  font-size: 12px;

}

.kaaba img {
  width: 20;
  flex-wrap: wrap;
  margin-top: 2px;
  padding: 2px;
  border-radius: 90px;
  text-align: center;
  max-width:370px;
  margin: 1px;
  font-size: 12px;

}

.guide-pan {
  background-color: #cdcfcd00;
  color: white;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
margin-right: 60px ;
  padding: 2px;
  border-radius: 10px;
  text-align: right;
  max-width:550px;
  font-size: 11px;
  height: auto;
}

.guide-pan img {
  width: 60;
  flex-wrap: wrap;
  margin-top: 2px;
  padding: 2px;
  border-radius: 100px;
  max-width:400px;
  margin: 1px;
  font-size: 12px;

}

.guide-mark {
  background-color: #cdcfcd00;
  display: flex;
  color: white;
  width: 70;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 2px;
  padding: 2px;
  border-radius: 10px;
  text-align: center right;
  max-width:60px;
  margin: 1px;
  font-size: 12px;

}

.guide-mark img {
  width: 60;
  flex-wrap: wrap;
  margin-top: 2px;
  margin-right: 500px;
  margin-bottom: 500px;
  text-align: right;
  max-width:600px;
  margin: 1px;
  font-size: 12px;

}

.praying {
  background-color: #cdcfcd00;
  display: flex;
  color: white;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 2px;
  padding: 2px;
  border-radius: 10px;
  text-align: center;
  max-width:550px;
  margin: 1px;
  font-size: 12px;
  height: auto;

}

.praying img {
  width: 60;
  flex-wrap: wrap;
  margin-top: 2px;
  padding: 2px;
  border-radius: 100px;
  text-align: center;
  max-width:350px;
  margin: 1px;
  font-size: 12px;

}


.pin-point {
  background-color: #cdcfcd00;
  display: flex;
  color: white;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 2px;
  padding: 2px;
  border-radius: 10px;
  text-align: center;
  max-width:550px;
  margin-top: 12;
  margin-right: 500;
  font-size: 11px;
  height: auto;
}

.pin-point img {
  width: 30;
  flex-wrap: wrap;
  margin-top: 2px;
  padding: 2px;
  border-radius: 100px;
  text-align: center;
  max-width:300px;
  margin: 1px;
  font-size: 12px;

}


.login {
  background-color: #d2b48c;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.login p {
  font-size: 18px;
  margin: 10px 0;
}

.login-button {
  background-color: #cdcfcd49;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}